.App {
  text-align: center;
}
.Layout {
  position: fixed;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
}
.All {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}
.Page1 {
  height: 100%;
  width: 100%;
}
